<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/general.html :: headerfiles">
		<link rel="stylesheet" th:href="@{/assets/css/check_value.css}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:insert="fragments/general.html :: header_frag"></div>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Verb table</h1>
									</header>
									
									<p>This tool lets you generate a table of Spanish verbs. Each verb will have only half of the conjugation forms shown. Basing on them you have to guess what is the tense of the given verb. They will all be in the same mode, which will be given above the table.</p>
									
								<!-- Search -->
									<section id="verb-conjugation-search" class="alt">
										<div class="row gtr-200">
											<div class="col-6 col-12-medium">
												<form method="get" th:action="@{/training/verbtable/generate}">
													<div class="row gtr-uniform">														
														<div>
															<button type="submit" name="find" value="find" id="conjugation-training-draw-btn">generate</button>
														</div>																																											
													</div>
												</form>											
											</div>
											
											<div class="col-6 col-12-medium"></div>
										</div>
									</section>
									
								<!-- Search Results-->
									<div th:if="${generateStatus == 'empty'}">
										<span>Data not found...</span>											
									</div>
								</section>

								<!-- here put table -->
								<section th:if="${searchStatus == 'OK'}">
											<h4 th:text="*{modeName}"></h4>
													<div class="table-wrapper">
														<table class="alt">
															<thead>
																<tr>
																	<th>yo</th>
																	<th>tu</th>
																	<th>el / ella</th>
																	<th>nosotros</th>
																	<th>vosotros</th>
																	<th>ellos / ellas</th>	
																</tr>
															</thead>
															<tbody>
																<tr th:each="tempConjugation : ${randomConjugations}">
																	<td th:text="${tempConjugation.single1}" />	
																	<td th:text="${tempConjugation.single2}" />
																	<td th:text="${tempConjugation.single3}" />	
																	<td th:text="${tempConjugation.plural1}" />	
																	<td th:text="${tempConjugation.plural2}" />	
																	<td th:text="${tempConjugation.plural3}" />
																	<td>																		
																		<select th:field="*{tenseMap}" onchange="checkConjugationTense(this)">
																			<option th:value="0" selected hidden>Choose Tense</option>
																			<option th:each="tense : ${tenseMap}"
																				th:value="${tense.tenseId}"
																				th:text="${tense.tenseText}"
																			></option>																
																		</select>
																		<input type="hidden" th:value="*{tempConjugation.tenseId}"/>
																	</td>

																</tr>
														</table>
													</div>
								</section>									

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar" th:insert="fragments/general.html :: sidebar_frag"></div>
			</div>

		<!-- Scripts -->
			<div th:insert="fragments/general.html :: scripts_frag"></div>
			<script th:src="@{/assets/js/training_verb_table.js}"></script>

	</body>
</html>