<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:insert="fragments/general.html :: header_frag"></div>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Privacy</h1>
									</header>
									
									<h2>Effective Date: 27.05.2024</h2>
									
									<h3>Privacy policy</h3>
									
									<h4>1. General information</h4>
									<p>Welcome to Spanish Learning Platform! We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and safeguard your data when you use our language learning portal.</p>

									<h4>2. Data Administrator</h4>
									<p>Spanish Learning Platform
									<br>Contact: example@example.com
									</p>

									<h4>3. Consent</h4>
									<p>Personal data are processed basing on the consent given by the User and when the law authorizes the Administrator to do so in order to provide the service.</p>

									<h4>4. Information We Collect</h4>
									<ul>
										<li><b>Personal Information:</b> When we register you on our site, we collect your name, nickname, and email address.</li>
										<li><b>Student Data:</b> We collect and store your progress, activities, and other learning-related data to enhance your learning experience.</li>
									</ul>

									<h4>5. How We Collect Your Data </h4>
									<p>The Website might collect the data by:</p>
									<ul>
										<li>Entering data by Website Administrator</li>
										<li>Entering data by the User himself in the forms</li>
										<li>Gathering "cookies" files - see more in section "Cookies policy"</li>
									</ul>

									<h4>6. How We Use Your Information</h4>
									<ul>
										<li><b>Personal Information:</b> We use your name, nickname, and email address to create and manage your account, communicate with you, and provide you with updates about the website.</li>
										<li><b>Student Data:</b> We use your learning data to track your progress, offer personalized learning experiences, and improve our educational content.</li>
									</ul>
									
									<h4>7. Data Security</h4>
									<p>We implement reasonable security measures to protect your data from unauthorized access, alteration, or disclosure. However, please be aware that no method of online transmission or storage is completely secure.</p>

									<h4>8. Data Sharing</h4>
									<p>We do not sell, trade, or otherwise transfer your personal information to outside parties. Your data is only accessible to the administrators of Spanish Learning Platform for the purposes outlined in this policy.</p>

									<h4>9. Changes to This Privacy Policy</h4>
									<p>We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.</p>
									
									<h4>10. Contact Us</h4>
									<p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at example@example.com.</p>
									<p>By using Spanish Learning Platform, you consent to the terms of this Privacy Policy.</p>
									<p><b>Spanish Learning Platform</b>
									<br><b>example@example.com</b>
									</p>
									
									<p>Thank you for using Spanish Learning Platform and trusting us with your learning journey!</p>
									
									<h3>Cookies policy</h3>
									<ol>
										<li><p>For your convenience our Website might be using Cookies files and similar technologies, in order to align the services we provide you. Cookies are small text files sent by the visited website to the users device.</p></li>
										<li>Cookies files in our Website might be used to:
											<ul>
												<li>Adjust the website to the user preferences (e.g. to recognize the User's device to show the website properly),</li>
												<li>Create statistics that help understanding how Users use the website, which helps enhancing the Website,</li>
												<li>Keep User's session (after logging in), which allows the User to stay logged in in the subpages of the Website.</li>
											</ul>
										</li>
										<li>Our Website might be using the two basic types of Cookies:
											<ul>
												<li>session - temporary files, which are kept on the User's device until he logs out, leaves the website or closes the web browser,</li>
												<li>persistent - files kept on the user's device for a fixed period of time (until expiration date) or until the User removes them.</li>
											</ul>
										</li>
										<li>Our Website might be using the following types of Cookies:
											<ul>
												<li>Essential Cookies - allowing usage of the services available in the Website, e.g. authorization cookies,</li>
												<li>Security Cookies - used to provide security features, e.g. to detect illegal usage of the Website's services,</li>
												<li>Performance Cookies - monitoring site performance and the way it is used,</li>
												<li>Functional Cookies - allowing remembering of  user preferences and settings.</li>
											</ul>
										</li>
										<li><p>In many cases the software used to browse the websites (Web Browser) by default allows the Cookies files in the User's end device. The Website's Users can modify the Cookies files settings at any time. The settings can be modified especially in the way, so that the automatic handling of Cookies was blocked in the Web Browser's settings or inform about each of putting them in the Website's User device.</p></li>
										<li><p>Restrictions in usage of Cookies files might influence on some of the functionalities available on the pages of the Website.</p></li>
										<li><p>In order not to receive Cookies files, you should change your Web Browser's settings to automatically revoke Cookies. The browser's settings usually also allow you to manage Cookies in other extent.</p></li>
									</ol>																																																		
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar" th:insert="fragments/general.html :: sidebar_frag"></div>
			</div>

		<!-- Scripts -->
			<div th:insert="fragments/general.html :: scripts_frag"></div>

	</body>
</html>