<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:insert="fragments/general.html :: header_frag"></div>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Terms of use</h1>
									</header>									
									
									<p>Welcome to Spanish Learning Platform. By accessing and using our website and services, you agree to comply with and be bound by the following terms and conditions of use, which together with our privacy policy, govern Spanish Learning Platform's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
									
									<h4>1. Acceptance of Terms</h4>
									<p>By accessing or using Spanish Learning Platform (the "Website"), you agree to be bound by these Terms of Use, including any future modifications. If you do not agree to these Terms of Use, do not use or access the Website.</p>

									<h4>2. Description of Service</h4>
									<p>Spanish Learning Platform provides users with access to a variety of resources and online training tools for learning languages, including instructional materials, tools and trainings (the "Service"). The Service is provided "as is" and "as available" without warranty of any kind, either express or implied.</p>

									<h4>3. User Account</h4>
									<p>To access certain features of the Service, you may need to register and create an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete. You are responsible for safeguarding your password and for any activities or actions under your account.</p>

									<h4>4. Use of the Website</h4>
									<p>You agree to use the Website and Service only for lawful purposes and in accordance with these Terms of Use. You agree not to:</p>
									<ul>
										<li>Use the Website in any way that violates any applicable local, national, or international law or regulation.</li>
										<li>Engage in any conduct that restricts or inhibits anyone's use or enjoyment of the Website, or which, as determined by us, may harm Spanish Learning Platform or users of the Website.</li>
										<li>Use the Website to transmit, or procure the sending of, any advertising or promotional material without our prior written consent.</li>
									</ul>

									<h4>5. Termination</h4>
									<p>We may terminate or suspend your access to the Website and Service, without prior notice or liability, for any reason whatsoever, including, without limitation, if you breach the Terms of Use. Upon termination, your right to use the Website and Service will immediately cease.</p>

									<h4>6. Limitation of Liability</h4>
									<p>In no event shall Spanish Learning Platform, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your use or inability to use the Service; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein; (iii) any interruption or cessation of transmission to or from the Service; (iv) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our Service by any third party; (v) any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or (vi) the defamatory, offensive, or illegal conduct of any third party.</p>
									
									<h4>7. Governing Law</h4>
									<p>These Terms of Use shall be governed and construed in accordance with the laws of the country where Spanish Learning Platform is headquartered, without regard to its conflict of law provisions.</p>

									<h4>8. Changes to Terms of Use</h4>
									<p>We reserve the right, at our sole discretion, to modify or replace these Terms of Use at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

									<h4>9. Contact Us</h4>
									<p>If you have any questions about these Terms of Use, please contact us at
									<br><a>example@example.com</a>.
									</p>
									
									<hr>
									
									<p>By using Spanish Learning Platform, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use.</p>
																																																										
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar" th:insert="fragments/general.html :: sidebar_frag"></div>
			</div>

		<!-- Scripts -->
			<div th:insert="fragments/general.html :: scripts_frag"></div>

	</body>
</html>