table * {
	vertical-align: middle;
}

table.main-table tr td:nth-child(1) {
	width: 20%;
}

table.main-table tr td:nth-child(2) {
	width: 40%;
}

table.main-table tr td:nth-child(3), .error-msg {
	color: #B22222;
}