.input-like-text {
	line-height: 2.75em;
	vertical-align: middle;
}

.hidden-item {
	visibility: hidden;
}

.fontawesome-icon-correct {
	color: #7CFC00;
	font-size: 2.75em;
}

.fontawesome-icon-incorrect {
	color: #B22222;
	font-size: 2.75em;
}