<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/general.html :: headerfiles">
		<link rel="stylesheet" th:href="@{/assets/css/change_password.css}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:insert="fragments/general.html :: header_frag"></div>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Change password</h1>
									</header>
																	
								   	<form name="account-change-pass-form" th:action="@{/user/changepass}" th:object="${passwordChangeForm}" method="POST">
								      <table class="main-table">
								         <tr>
								            <td>Old password:</td>
								            <td><input id="oldPassword" type="password" th:field="*{oldPassword}" placeholder="Enter Old Password" maxlength="15" required></td>
								            <td><span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old Password Error</span></td>
								         </tr>
								         <tr>
								            <td>New password:</td>
								            <td><input id="newPassword" type="password" th:field="*{newPassword}" placeholder="Enter New Password" maxlength="15" required></td>
								        	<td><span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</span></td>
								         </tr>
								         <tr>
								            <td>Confirm password:</td>
								            <td><input id="confirmPassword" type="password" th:field="*{confirmPassword}" placeholder="Confirm New Password" maxlength="15" required></td>
								        	<td><span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</span></td>
								         </tr>								         
								      </table>
								      <div id="confirmErrorMessage" hidden="hidden" class="error-msg">New password not confirmed correctly</div>
								      <input id="changeButton" name="submit" type="submit" value="Change Password" />
								  	</form>							
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar" th:insert="fragments/general.html :: sidebar_frag"></div>
			</div>

		<!-- Scripts -->
			<div th:insert="fragments/general.html :: scripts_frag"></div>
			<script th:src="@{/assets/js/change_password_validation.js}"></script>

	</body>
</html>