<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="headerfiles">
		<title>Spanish Learning Platform</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/assets/css/user_main.css}" />
	</th:block>
</head>
<body>
	<header id="header" th:fragment="header_frag">
		<a th:href="@{/index}" class="logo"><strong>Spanish Learning Platform</strong> - your place for studying</a>
	</header>

	<div class="inner" th:fragment="sidebar_frag">

		<!-- Account -->
			<div sec:authorize="!isAuthenticated()">
				<a href="/login" class="button primary fit">Login</a>
			</div>
			
			<div sec:authorize="isAuthenticated()" class="row">
				<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true" id="logout-form"></form>
				<ul class="icons">
					<li><a th:href="@{/index}" class="icon solid fa-home"></a></li>
					<li><a th:href="@{/user/editdata}" class="icon solid fa-user-cog"></a></li>
					<li><a th:href="@{/user/changepass}" class="icon solid fa-user-edit"></a></li>
					<li><a th:href="@{/user/contactus}" class="icon solid fa-envelope"></a></li>
					<li><a href="/logout" onclick="$('#logout-form').submit();" class="icon solid fa-sign-in-alt"></a></li>
				</ul>
				<ul class="alt">					
					<li>Welcome back <b><span th:text="${#authentication.getPrincipal().getName()}"></span></b></li> 						
					<li>Last login: <i><span th:text="${#authentication.getPrincipal().getUserLastLogin()}"></span></i></li>									
				</ul>					
			</div>

		<!-- Menu -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a th:href="@{/}">Start</a></li>
				<li><span class="opener" id="menu-learning">Learning</span>
					<ul>
						<li><a th:href="@{/learning/nouns}">Articles and nouns</a></li>
						<li><a th:href="@{/learning/verbs}">Verbs</a></li>
						<li><a th:href="@{/learning/numbers}">Numbers</a></li>
						<li><a th:href="@{/learning/time}">Time</a></li>
					</ul></li>
				<li><span class="opener" id="menu-tools">Tools</span>
					<ul>
						<li><a th:href="@{/tool/translation}">Dictionary</a></li>
						<li><a th:href="@{/tool/conjugation}">Conjugation</a></li>
					</ul></li>
				<li><span class="opener" id="menu-training">Training</span>
					<ul>
						<li><a th:href="@{/training/numbers}" id="training">Numbers</a></li>
						<li><a th:href="@{/training/conjugation}">Conjugate verb</a></li>
						<li><a th:href="@{/training/verbtable}">Verb table</a></li>
					</ul></li>
				<li sec:authorize="isAuthenticated()"><span class="opener" id="menu-custom">Custom</span>
					<ul>
						<li><a th:href="@{/custom/cards}" id="custom">Language cards</a></li>
					</ul></li>
					
				<li sec:authorize="hasRole('ADMIN')"><span class="opener" id="menu-admin">Admin</span>
					<ul>
						<li><a th:href="@{/admin/adduser}">Add user</a></li>
						<li><a th:href="@{/admin/userlist}">User list</a></li>
					</ul></li>				
			</ul>
		</nav>
		
		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">
				<a th:href="@{/footer/terms}">Terms of use</a>	
				<br><a th:href="@{/footer/privacy}">Privacy and cookies</a>
				<br><a th:href="@{/footer/copyright}">Credits & Copyright</a>
				<br>
				<br>&copy; 2024 Spanish Learning Platform.
				<br>All rights reserved.
				<br>Design: <a href="https://html5up.net">HTML5 UP</a>.
				<br>Adapted from "Editorial" template by Mateusz.
			</p>		
		</footer>
	</div>
	
	<div th:fragment="scripts_frag">
		<script th:src="@{/assets/js/jquery.min.js}"></script>
		<script th:src="@{/assets/js/browser.min.js}"></script>
		<script th:src="@{/assets/js/breakpoints.min.js}"></script>
		<script th:src="@{/assets/js/util.js}"></script>
		<script th:src="@{/assets/js/main.js}"></script>
		<script th:src="@{/assets/js/custom.js}"></script>
	</div>
</body>
</html>