<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" th:href="@{/assets/css/footer.css}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:insert="fragments/general.html :: header_frag"></div>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Spanish Learning Platform</h1>
											<p>Here you can learn and train your language skills</p>
										</header>
										<p>Pick what you want to do, but remember you get the full experience when you log in!</p>
									</div>
									<span class="image object">
										<img th:src="@{/images/spain_main.jpg}" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Sections</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-flag"></span>
											<div class="content">
												<h3>Learning</h3>
												<p>Pick the topic and learn the basics of the language.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-lightbulb"></span>
											<div class="content">
												<h3>Tools</h3>
												<p>Need a dictionary or find out how to conjugate a word? Use one of our tools to help you.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>Training</h3>
												<p>Want to test you skills? You will find here some exercies that will help you memorize new knowledge.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Custom</h3>
												<p>Space for customized studying. Gain even more by saving your own data, e.g. words as language cards!</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Advantages</h2>
									</header>
									<div class="posts">
										<article>
											<a class="image"><img src="images/m_variety.jpg" alt="" /></a>
											<h3>Variety</h3>
											<p>Use our portal to learn in different ways and train how you want.</p>
										</article>
										<article>
											<a class="image"><img src="images/m_ease.jpg" alt="" /></a>
											<h3>Use of use</h3>
											<p>Each page or tool has a useful description, so it is easy to utilize the features.</p>
										</article>
										<article>
											<a class="image"><img src="images/m_personal.jpg" alt="" /></a>
											<h3>Personalized</h3>
											<p>Your profile can be changed by yourself without problems. Also you can contact us via simple form when logged in.</p>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar" th:insert="fragments/general.html :: sidebar_frag"></div>
			</div>

		<!-- Scripts -->
			<div th:insert="fragments/general.html :: scripts_frag"></div>

	</body>
</html>